.body-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 90%;
  box-sizing: border-box;
  gap: 20px;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.vet-image {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
}

.right-section {
  flex: 2;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  max-height: 90vh;
}

.whatsapp-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .whatsapp-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .whatsapp-container {
    margin-top: 10px;
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .body-container {
    padding: 10px;
    align-items: flex-start;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 100%;
    justify-content: center;
  }

  .vet-image {
    max-width: 80%;
    max-height: 50vh;
  }

  .right-section {
    padding-left: 0;
    padding-top: 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .vet-image {
    max-width: 100%;
    max-height: 40vh;
  }

  .right-section {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }
}
