@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
